# Development settings with sensitive data
**/appsettings.Development.json

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
