@model Account
<div class="container mt-3">
    <h2>Account Detail</h2>
    <h3>Full Name: @Model.FullName</h3>
    <h3>Email: @Model.Email</h3>
    <h3>Role: @Model.Role</h3>
    <h3>Status: @Model.Status</h3>
</div>